img {
  &:hover {
    opacity: 0.85;
  }
}

figure {
  max-width: 100%;
}

@include media-breakpoint-down(md) {
  figure {

    &.alignleft,
    &.alignright {
      float: none !important;
      margin: 0;
    }
  }
}

/* remove rounding from cards, buttons and inputs */
//.card,
//.btn,
//.form-control {
//  border-radius: 0;
//}

.btn-primary {
  border-radius: .125rem;
  transition: color .15s ease-in-out,
  background-color .15s ease-in-out,
  border-color .15s ease-in-out,
  box-shadow .15s ease-in-out,
  -webkit-box-shadow .15s ease-in-out;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.btn-lg {
  font-size: 1rem;
}
