// more link
.more-link {
  @extend .btn;
  @extend .btn-success;
  @extend .btn-sm;
  font-size: $small-font-size;
  padding: 2px 5px;
}

// understrap over
.gallery-item {
  padding: .5rem;
}

// Jumbotron
.jumbotron {
  background-image: url("../images/bg.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-color: #acdae5;

  h1 {
    background: url("../images/r-logo.svg") no-repeat;
    width: 400px;
    height: 131px;
    margin-bottom: 1rem;
  }
}
