.card {

  //border: none;
  .card-top-img {
    width: 100%;
  }

  a {
    color: gray('600');

    &:hover {
      color: black;
    }
  }

  .card-title {
    font-size: 1rem;
    font-weight: bold;
    padding: .5rem 0;
    margin: 0;
  }
}
