<ol>
  <li><i class="flag-icon flag-icon-andorra"></i></li>
  <li><i class="flag-icon flag-icon-united-arab-emirates"></i></li>
  <li><i class="flag-icon flag-icon-afghanistan"></i></li>
  <li><i class="flag-icon flag-icon-antigua-and-barbuda"></i></li>
  <li><i class="flag-icon flag-icon-anguilla"></i></li>
  <li><i class="flag-icon flag-icon-albania"></i></li>
  <li><i class="flag-icon flag-icon-armenia"></i></li>
  <li><i class="flag-icon flag-icon-angola"></i></li>
  <li><i class="flag-icon flag-icon-antarctica"></i></li>
  <li><i class="flag-icon flag-icon-argentina"></i></li>
  <li><i class="flag-icon flag-icon-american-samoa"></i></li>
  <li><i class="flag-icon flag-icon-austria"></i></li>
  <li><i class="flag-icon flag-icon-australia"></i></li>
  <li><i class="flag-icon flag-icon-aruba"></i></li>
  <li><i class="flag-icon flag-icon-aland"></i></li>
  <li><i class="flag-icon flag-icon-azerbaijan"></i></li>
  <li><i class="flag-icon flag-icon-bosnia-and-herzegovina"></i></li>
  <li><i class="flag-icon flag-icon-barbados"></i></li>
  <li><i class="flag-icon flag-icon-bangladesh"></i></li>
  <li><i class="flag-icon flag-icon-belgium"></i></li>
  <li><i class="flag-icon flag-icon-burkina-faso"></i></li>
  <li><i class="flag-icon flag-icon-bulgaria"></i></li>
  <li><i class="flag-icon flag-icon-bahrain"></i></li>
  <li><i class="flag-icon flag-icon-burundi"></i></li>
  <li><i class="flag-icon flag-icon-benin"></i></li>
  <li><i class="flag-icon flag-icon-saint-barthelemy"></i></li>
  <li><i class="flag-icon flag-icon-bermuda"></i></li>
  <li><i class="flag-icon flag-icon-brunei-darussalam"></i></li>
  <li><i class="flag-icon flag-icon-bolivia"></i></li>
  <li><i class="flag-icon flag-icon-bonaire-saint-eustatius-and-saba"></i></li>
  <li><i class="flag-icon flag-icon-brazil"></i></li>
  <li><i class="flag-icon flag-icon-bahamas"></i></li>
  <li><i class="flag-icon flag-icon-bhutan"></i></li>
  <li><i class="flag-icon flag-icon-bouvet-island"></i></li>
  <li><i class="flag-icon flag-icon-botswana"></i></li>
  <li><i class="flag-icon flag-icon-belarus"></i></li>
  <li><i class="flag-icon flag-icon-belize"></i></li>
  <li><i class="flag-icon flag-icon-canada"></i></li>
  <li><i class="flag-icon flag-icon-cocos-keeling-islands"></i></li>
  <li><i class="flag-icon flag-icon-democratic-republic-of-the-congo"></i></li>
  <li><i class="flag-icon flag-icon-central-african-republic"></i></li>
  <li><i class="flag-icon flag-icon-congo"></i></li>
  <li><i class="flag-icon flag-icon-switzerland"></i></li>
  <li><i class="flag-icon flag-icon-cote-divoire"></i></li>
  <li><i class="flag-icon flag-icon-cook-islands"></i></li>
  <li><i class="flag-icon flag-icon-chile"></i></li>
  <li><i class="flag-icon flag-icon-cameroon"></i></li>
  <li><i class="flag-icon flag-icon-china"></i></li>
  <li><i class="flag-icon flag-icon-colombia"></i></li>
  <li><i class="flag-icon flag-icon-costa-rica"></i></li>
  <li><i class="flag-icon flag-icon-cuba"></i></li>
  <li><i class="flag-icon flag-icon-cape-verde"></i></li>
  <li><i class="flag-icon flag-icon-curacao"></i></li>
  <li><i class="flag-icon flag-icon-christmas-island"></i></li>
  <li><i class="flag-icon flag-icon-cyprus"></i></li>
  <li><i class="flag-icon flag-icon-czech-republic"></i></li>
  <li><i class="flag-icon flag-icon-germany"></i></li>
  <li><i class="flag-icon flag-icon-djibouti"></i></li>
  <li><i class="flag-icon flag-icon-denmark"></i></li>
  <li><i class="flag-icon flag-icon-dominica"></i></li>
  <li><i class="flag-icon flag-icon-dominican-republic"></i></li>
  <li><i class="flag-icon flag-icon-algeria"></i></li>
  <li><i class="flag-icon flag-icon-ecuador"></i></li>
  <li><i class="flag-icon flag-icon-estonia"></i></li>
  <li><i class="flag-icon flag-icon-egypt"></i></li>
  <li><i class="flag-icon flag-icon-western-sahara"></i></li>
  <li><i class="flag-icon flag-icon-eritrea"></i></li>
  <li><i class="flag-icon flag-icon-spain"></i></li>
  <li><i class="flag-icon flag-icon-ethiopia"></i></li>
  <li><i class="flag-icon flag-icon-finland"></i></li>
  <li><i class="flag-icon flag-icon-fiji"></i></li>
  <li><i class="flag-icon flag-icon-falkland-islands"></i></li>
  <li><i class="flag-icon flag-icon-micronesia"></i></li>
  <li><i class="flag-icon flag-icon-faroe-islands"></i></li>
  <li><i class="flag-icon flag-icon-france"></i></li>
  <li><i class="flag-icon flag-icon-gabon"></i></li>
  <li><i class="flag-icon flag-icon-united-kingdom"></i></li>
  <li><i class="flag-icon flag-icon-grenada"></i></li>
  <li><i class="flag-icon flag-icon-georgia"></i></li>
  <li><i class="flag-icon flag-icon-french-guiana"></i></li>
  <li><i class="flag-icon flag-icon-guernsey"></i></li>
  <li><i class="flag-icon flag-icon-ghana"></i></li>
  <li><i class="flag-icon flag-icon-gibraltar"></i></li>
  <li><i class="flag-icon flag-icon-greenland"></i></li>
  <li><i class="flag-icon flag-icon-gambia"></i></li>
  <li><i class="flag-icon flag-icon-guinea"></i></li>
  <li><i class="flag-icon flag-icon-guadeloupe"></i></li>
  <li><i class="flag-icon flag-icon-equatorial-guinea"></i></li>
  <li><i class="flag-icon flag-icon-greece"></i></li>
  <li><i class="flag-icon flag-icon-south-georgia-and-the-south-sandwich-islands"></i></li>
  <li><i class="flag-icon flag-icon-guatemala"></i></li>
  <li><i class="flag-icon flag-icon-guam"></i></li>
  <li><i class="flag-icon flag-icon-guinea-bissau"></i></li>
  <li><i class="flag-icon flag-icon-guyana"></i></li>
  <li><i class="flag-icon flag-icon-hong-kong"></i></li>
  <li><i class="flag-icon flag-icon-heard-island-and-mcdonald-islands"></i></li>
  <li><i class="flag-icon flag-icon-honduras"></i></li>
  <li><i class="flag-icon flag-icon-croatia"></i></li>
  <li><i class="flag-icon flag-icon-haiti"></i></li>
  <li><i class="flag-icon flag-icon-hungary"></i></li>
  <li><i class="flag-icon flag-icon-indonesia"></i></li>
  <li><i class="flag-icon flag-icon-ireland"></i></li>
  <li><i class="flag-icon flag-icon-israel"></i></li>
  <li><i class="flag-icon flag-icon-isle-of-man"></i></li>
  <li><i class="flag-icon flag-icon-india"></i></li>
  <li><i class="flag-icon flag-icon-british-indian-ocean-territory"></i></li>
  <li><i class="flag-icon flag-icon-iraq"></i></li>
  <li><i class="flag-icon flag-icon-iran"></i></li>
  <li><i class="flag-icon flag-icon-iceland"></i></li>
  <li><i class="flag-icon flag-icon-italy"></i></li>
  <li><i class="flag-icon flag-icon-jersey"></i></li>
  <li><i class="flag-icon flag-icon-jamaica"></i></li>
  <li><i class="flag-icon flag-icon-jordan"></i></li>
  <li><i class="flag-icon flag-icon-japan"></i></li>
  <li><i class="flag-icon flag-icon-kenya"></i></li>
  <li><i class="flag-icon flag-icon-kyrgyzstan"></i></li>
  <li><i class="flag-icon flag-icon-cambodia"></i></li>
  <li><i class="flag-icon flag-icon-kiribati"></i></li>
  <li><i class="flag-icon flag-icon-comoros"></i></li>
  <li><i class="flag-icon flag-icon-saint-kitts-and-nevis"></i></li>
  <li><i class="flag-icon flag-icon-korea-north"></i></li>
  <li><i class="flag-icon flag-icon-korea-south"></i></li>
  <li><i class="flag-icon flag-icon-kuwait"></i></li>
  <li><i class="flag-icon flag-icon-cayman-islands"></i></li>
  <li><i class="flag-icon flag-icon-kazakhstan"></i></li>
  <li><i class="flag-icon flag-icon-laos"></i></li>
  <li><i class="flag-icon flag-icon-lebanon"></i></li>
  <li><i class="flag-icon flag-icon-saint-lucia"></i></li>
  <li><i class="flag-icon flag-icon-liechtenstein"></i></li>
  <li><i class="flag-icon flag-icon-sri-lanka"></i></li>
  <li><i class="flag-icon flag-icon-liberia"></i></li>
  <li><i class="flag-icon flag-icon-lesotho"></i></li>
  <li><i class="flag-icon flag-icon-lithuania"></i></li>
  <li><i class="flag-icon flag-icon-luxembourg"></i></li>
  <li><i class="flag-icon flag-icon-latvia"></i></li>
  <li><i class="flag-icon flag-icon-libya"></i></li>
  <li><i class="flag-icon flag-icon-morocco"></i></li>
  <li><i class="flag-icon flag-icon-monaco"></i></li>
  <li><i class="flag-icon flag-icon-moldova"></i></li>
  <li><i class="flag-icon flag-icon-montenegro"></i></li>
  <li><i class="flag-icon flag-icon-saint-martin"></i></li>
  <li><i class="flag-icon flag-icon-madagascar"></i></li>
  <li><i class="flag-icon flag-icon-marshall-islands"></i></li>
  <li><i class="flag-icon flag-icon-macedonia"></i></li>
  <li><i class="flag-icon flag-icon-mali"></i></li>
  <li><i class="flag-icon flag-icon-myanmar"></i></li>
  <li><i class="flag-icon flag-icon-mongolia"></i></li>
  <li><i class="flag-icon flag-icon-macau"></i></li>
  <li><i class="flag-icon flag-icon-northern-mariana-islands"></i></li>
  <li><i class="flag-icon flag-icon-martinique"></i></li>
  <li><i class="flag-icon flag-icon-mauritania"></i></li>
  <li><i class="flag-icon flag-icon-montserrat"></i></li>
  <li><i class="flag-icon flag-icon-malta"></i></li>
  <li><i class="flag-icon flag-icon-mauritius"></i></li>
  <li><i class="flag-icon flag-icon-maldives"></i></li>
  <li><i class="flag-icon flag-icon-malawi"></i></li>
  <li><i class="flag-icon flag-icon-mexico"></i></li>
  <li><i class="flag-icon flag-icon-malaysia"></i></li>
  <li><i class="flag-icon flag-icon-mozambique"></i></li>
  <li><i class="flag-icon flag-icon-namibia"></i></li>
  <li><i class="flag-icon flag-icon-new-caledonia"></i></li>
  <li><i class="flag-icon flag-icon-niger"></i></li>
  <li><i class="flag-icon flag-icon-norfolk-island"></i></li>
  <li><i class="flag-icon flag-icon-nigeria"></i></li>
  <li><i class="flag-icon flag-icon-nicaragua"></i></li>
  <li><i class="flag-icon flag-icon-netherlands"></i></li>
  <li><i class="flag-icon flag-icon-norway"></i></li>
  <li><i class="flag-icon flag-icon-nepal"></i></li>
  <li><i class="flag-icon flag-icon-nauru"></i></li>
  <li><i class="flag-icon flag-icon-niue"></i></li>
  <li><i class="flag-icon flag-icon-new-zealand"></i></li>
  <li><i class="flag-icon flag-icon-oman"></i></li>
  <li><i class="flag-icon flag-icon-panama"></i></li>
  <li><i class="flag-icon flag-icon-peru"></i></li>
  <li><i class="flag-icon flag-icon-french-polynesia"></i></li>
  <li><i class="flag-icon flag-icon-papua-new-guinea"></i></li>
  <li><i class="flag-icon flag-icon-philippines"></i></li>
  <li><i class="flag-icon flag-icon-pakistan"></i></li>
  <li><i class="flag-icon flag-icon-poland"></i></li>
  <li><i class="flag-icon flag-icon-saint-pierre-and-miquelon"></i></li>
  <li><i class="flag-icon flag-icon-pitcairn"></i></li>
  <li><i class="flag-icon flag-icon-puerto-rico"></i></li>
  <li><i class="flag-icon flag-icon-palestine"></i></li>
  <li><i class="flag-icon flag-icon-portugal"></i></li>
  <li><i class="flag-icon flag-icon-palau"></i></li>
  <li><i class="flag-icon flag-icon-paraguay"></i></li>
  <li><i class="flag-icon flag-icon-qatar"></i></li>
  <li><i class="flag-icon flag-icon-reunion"></i></li>
  <li><i class="flag-icon flag-icon-romania"></i></li>
  <li><i class="flag-icon flag-icon-serbia"></i></li>
  <li><i class="flag-icon flag-icon-russia"></i></li>
  <li><i class="flag-icon flag-icon-rwanda"></i></li>
  <li><i class="flag-icon flag-icon-saudi-arabia"></i></li>
  <li><i class="flag-icon flag-icon-solomon-islands"></i></li>
  <li><i class="flag-icon flag-icon-seychelles"></i></li>
  <li><i class="flag-icon flag-icon-sudan"></i></li>
  <li><i class="flag-icon flag-icon-sweden"></i></li>
  <li><i class="flag-icon flag-icon-singapore"></i></li>
  <li><i class="flag-icon flag-icon-saint-helena"></i></li>
  <li><i class="flag-icon flag-icon-slovenia"></i></li>
  <li><i class="flag-icon flag-icon-svalbard-and-jan-mayen"></i></li>
  <li><i class="flag-icon flag-icon-slovakia"></i></li>
  <li><i class="flag-icon flag-icon-sierra-leone"></i></li>
  <li><i class="flag-icon flag-icon-san-marino"></i></li>
  <li><i class="flag-icon flag-icon-senegal"></i></li>
  <li><i class="flag-icon flag-icon-somalia"></i></li>
  <li><i class="flag-icon flag-icon-suriname"></i></li>
  <li><i class="flag-icon flag-icon-south-sudan"></i></li>
  <li><i class="flag-icon flag-icon-sao-tome-and-principe"></i></li>
  <li><i class="flag-icon flag-icon-el-salvador"></i></li>
  <li><i class="flag-icon flag-icon-sint-maarten"></i></li>
  <li><i class="flag-icon flag-icon-syria"></i></li>
  <li><i class="flag-icon flag-icon-swaziland"></i></li>
  <li><i class="flag-icon flag-icon-turks-and-caicos-islands"></i></li>
  <li><i class="flag-icon flag-icon-chad"></i></li>
  <li><i class="flag-icon flag-icon-french-southern-territories"></i></li>
  <li><i class="flag-icon flag-icon-togo"></i></li>
  <li><i class="flag-icon flag-icon-thailand"></i></li>
  <li><i class="flag-icon flag-icon-tajikistan"></i></li>
  <li><i class="flag-icon flag-icon-tokelau"></i></li>
  <li><i class="flag-icon flag-icon-east-timor"></i></li>
  <li><i class="flag-icon flag-icon-turkmenistan"></i></li>
  <li><i class="flag-icon flag-icon-tunisia"></i></li>
  <li><i class="flag-icon flag-icon-tonga"></i></li>
  <li><i class="flag-icon flag-icon-turkey"></i></li>
  <li><i class="flag-icon flag-icon-trinidad-and-tobago"></i></li>
  <li><i class="flag-icon flag-icon-tuvalu"></i></li>
  <li><i class="flag-icon flag-icon-taiwan"></i></li>
  <li><i class="flag-icon flag-icon-tanzania"></i></li>
  <li><i class="flag-icon flag-icon-ukraine"></i></li>
  <li><i class="flag-icon flag-icon-uganda"></i></li>
  <li><i class="flag-icon flag-icon-united-states-minor-outlying-islands"></i></li>
  <li><i class="flag-icon flag-icon-united-states"></i></li>
  <li><i class="flag-icon flag-icon-uruguay"></i></li>
  <li><i class="flag-icon flag-icon-uzbekistan"></i></li>
  <li><i class="flag-icon flag-icon-vatican-city"></i></li>
  <li><i class="flag-icon flag-icon-saint-vincent-and-the-grenadines"></i></li>
  <li><i class="flag-icon flag-icon-venezuela"></i></li>
  <li><i class="flag-icon flag-icon-british-virgin-islands"></i></li>
  <li><i class="flag-icon flag-icon-us-virgin-islands"></i></li>
  <li><i class="flag-icon flag-icon-vietnam"></i></li>
  <li><i class="flag-icon flag-icon-vanuatu"></i></li>
  <li><i class="flag-icon flag-icon-wallis-and-futuna"></i></li>
  <li><i class="flag-icon flag-icon-samoa"></i></li>
  <li><i class="flag-icon flag-icon-yemen"></i></li>
  <li><i class="flag-icon flag-icon-mayotte"></i></li>
  <li><i class="flag-icon flag-icon-south-africa"></i></li>
  <li><i class="flag-icon flag-icon-zambia"></i></li>
  <li><i class="flag-icon flag-icon-zimbabwe"></i></li>
  <li><i class="flag-icon flag-icon-catalonia"></i></li>
  <li><i class="flag-icon flag-icon-european-union"></i></li>
  <li><i class="flag-icon flag-icon-england"></i></li>
  <li><i class="flag-icon flag-icon-northern-ireland"></i></li>
  <li><i class="flag-icon flag-icon-scotland"></i></li>
  <li><i class="flag-icon flag-icon-wales"></i></li>
  <li><i class="flag-icon flag-icon-united-nations"></i></li>
  <li><i class="flag-icon flag-icon-kosovo"></i></li>
</ol>
