.searchandfilter {
  line-height: 1rem;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      padding: 0;

      label {
        margin-bottom: 0;
        display: block;
      }
    }
  }

  input[type=date],
  input[type=datetime-local],
  input[type=email],
  input[type=number],
  input[type=password],
  input[type=search],
  input[type=tel],
  input[type=text],
  input[type=time],
  input[type=url],
  select {
    @extend .form-control;
    //@extend .form-control-sm;
  }

  input[type=search] {
    -webkit-appearance: none;
  }

  input[type=submit] {
    @extend .btn;
    @extend .btn-primary;
    //@extend .btn-sm
  }

  a.search-filter-reset {
    @extend .btn;
    @extend .btn-outline-secondary;
    //@extend .btn-sm
  }

}

.footer-widget,
.static-hero-widget {
  form.searchandfilter {
    ul {
      @extend .form-row;

      li {
        @extend .col-md-4;
        @extend .col-sm-6;
        @extend .col-12;
        margin-bottom: 10px;

        &.sf-field-submit,
        &.sf-field-reset {
          @extend .col-md-2;
          @extend .col-sm-2;
          @extend .col-6;
          margin-bottom: 0;
          text-align: left;
        }

        &.sf-field-search {
          margin-bottom: 9px;
        }

        ul {
          display: flex;
        }

        &.sf-field-post-meta-wpcf-start-era {
          ul {
            padding: .5rem;

            li {
              position: relative;
              display: block;
              padding-left: 1.25rem;

              .sf-input-radio {
                @extend .form-check-input;
              }

              label.sf-label-radio {
                margin-top: .2rem;
              }
            }
          }
        }
      }
    }
  }
}

// search and filter pagenation
.sf-pagenation {
  a {
    display: inline-block;
    vertical-align: middle;
  }
}

.line-serch {
  .search-filter-results {
    h2 {
      font-size: 1rem;
      margin: 0;
    }

    .sharedaddy {
      display: none;
    }
  }
}

//  (576px)
@include media-breakpoint-down(xs) {
  .footer-widget {
    form.searchandfilter {
      ul li {
        &.sf-field-post-meta-wpcf-start-era {
          margin-bottom: 0;

          ul {
            display: flex;
            justify-content: space-between;
            margin-bottom: 0;

            li {
              flex: 0;

              .sf-input-radio {

              }

              label.sf-label-radio {
                // margin-top: .2rem;
              }
            }
          }
        }

        &.sf-field-submit,
        &.sf-field-reset {
          text-align: center;
        }
      }
    }
  }
}
