/*
* Use existing Bootstrap 4 classes and
* variables to extend - override CF7 style
*
* Useful CF7 classes:
* .wpcf7 the wrapper element
* .wpcf7-form
* .wpcf7-form-control
* .wpcf7-text
* .wpcf7-email
* .wpcf7-textarea
* .wpcf7-submit
*/
// keep a max width in case it is just the form and nothing else
// we do not want a form spanning whole page
.wpcf7 {
  max-width: 600px;
  margin: 0 auto !important;

  // all inputs except radios and checkboxes inherit from form-control
  input[type=text],
  input[type=search],
  input[type=url],
  input[type=tel],
  input[type=number],
  input[type=range],
  input[type=date],
  input[type=month],
  input[type=week],
  input[type=time],
  input[type=datetime],
  input[type=datetime-local],
  input[type=color],
  input[type=email],
  input[type=file],
  input[type=submit],
  select,
  textarea {
    @extend .form-control;
  }

  // submit button, inherit .btn and .btn-outline-primary classes.
  input[type=submit] {
    @extend .btn;
    @extend .btn-outline-primary;
  }

  .wpcf7-form {

    // set paragraphs to behave like divs with class .form-group
    p {
      @extend .form-group;
    }

    // let labels be 100%
    label {
      width: 100%;
    }
  }

  // not valid tip for each control
  .wpcf7-not-valid-tip {
    color: theme-color("danger");
  }

  // validation errors ourput bottom of form
  .wpcf7-validation-errors {
    @extend .form-control;
    color: theme-color("danger");
    border: 1px solid $gray-200;
  }
}

// raty
.cancel-on-png,
.cancel-off-png,
.star-on-png,
.star-off-png,
.star-half-png {
  font-size: 1rem;
  color: $warning;
}

.cancel-on-png,
.cancel-off-png,
.star-on-png,
.star-off-png,
.star-half-png {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "FontAwesome";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;

}

.cancel-on-png:before {
  content: "\e600";
}

.cancel-off-png:before {
  content: "\e601";
}

.star-on-png:before {
  content: "\f005";
}

.star-off-png:before {
  content: "\f006";
}

.star-half-png:before {
  content: "\f123";
}

//map
.wpgmp_listing_container {

  ul,
  li {
    list-style-type: none;
  }

  .wpgmp_locations {
    .wpgmp_locations_content {
      line-height: 1.6;

      p {
        margin: .5rem 0;
      }
    }
  }
}

// Simple pay free
.simpay-form-control {
  text-align: center;

  .simpay-payment-btn {
    @extend .btn;
    @extend .btn-sm;
    @extend .btn-success;
  }
}

// Google auto placed
.google-auto-placed.ap_container {
  margin-bottom: 2rem;
}

// icon
i {
  //.fa-fw
  width: 1.28571429em;
  text-align: center;
}

// toolset
.wpv-filter-form {
  width: 50%;

  .form-control {
    font-size: 14px; //$small-font-size
  }

  label {
    margin-bottom: 0;
  }
}

// jetpack sharing
.sharedaddy {
  @extend .text-center;
  @extend .border-top;
  @extend .border-light;
  @extend .mt-3;
  padding: 1rem 0 .5rem 0;
}

#jp-relatedposts h3.jp-relatedposts-headline em,
.sharedaddy h3.sd-title {
  &::before {
    display: none !important;
  }
}

// Amazon
div.yyi-rinker-contents {
  box-shadow: none !important;
  position: relative;

  ul.yyi-rinker-links li {
    box-shadow: none;
  }

  .yyi-rinker-title a {
    font-weight: 700;
    line-height: 1.2;
  }
}

// U-next
.u-next {
  padding: 1em;
  border: 1px solid #ddd;
  position: relative;
  display: block;

  h4 {
    font-size: 1rem;
    margin: 0;
  }

  p {
    margin: 0;
  }

  ul {
    font-size: 14px;
  }
}
