/* -------------------------------------
* For horizontal version, set the
* $vertical variable to false
* ------------------------------------- */
/* -------------------------------------
* General Style
* ------------------------------------- */
$vertical: true;
// Colours
$t-bg: #fff;
$t-white: #48b379;
$t-red: #f98262;

body .timeline-page {
  max-width: 1200px;
  margin: 0 auto 20px auto;
  color: $t-white;
  background: $t-bg;
}

/* -------------------------------------
* timeline
* ------------------------------------- */
.timeline-page {
  #timeline {
    list-style: none;
    margin: 50px 0 30px 120px;
    padding-left: 30px;
    border-left: 8px solid $t-white;

    li {
      list-style: none;
      margin: 40px 0;
      position: relative;
    }

    .date {
      margin-top: -10px;
      top: 50%;
      left: -158px;
      font-size: 1rem;
      line-height: 20px;
      position: absolute;
    }

    .circle {
      margin-top: -10px;
      top: 50%;
      left: -44px;
      width: 20px;
      height: 20px;
      background: $t-bg;
      border: 5px solid $t-white;
      border-radius: 50%;
      display: block;
      position: absolute;
    }

    .content {
      max-height: 20px;
      padding: 10px 10px 0 10px;
      border-color: transparent;
      border-width: 2px;
      border-style: solid;
      border-radius: 0.5em;
      position: relative;

      &:before,
      &:after {
        content: "";
        width: 0;
        height: 0;
        border: solid transparent;
        position: absolute;
        pointer-events: none;
        right: 100%;
      }

      &:before {
        border-right-color: inherit;
        border-width: 20px;
        top: 50%;
        margin-top: -20px;
      }

      &:after {
        border-right-color: $t-bg;
        border-width: 17px;
        top: 50%;
        margin-top: -17px;
      }

      .content-inner {
        max-height: 0;
        color: transparent;
        word-break: break-word;
        hyphens: auto;
        overflow: hidden;

        ul,
        ol {
          margin: 0 !important;
        }
      }
    }

    label {
      font-size: 1rem;
      color: black;
      font-weight: 700;
      position: absolute;
      z-index: 100;
      cursor: pointer;
      top: -10px;
      transition: transform 0.2s linear;
    }

    .radio {
      display: none;

      &:checked {
        + .relative {
          label {
            //            cursor: auto;
            //            transform: translateX(42px);
            //            text-overflow: ellipsis;
            //            overflow: auto;
            //            white-space: nowrap;
            //            width: 90%;
            display: none;
          }

          .circle {
            background: $t-red;
          }
        }

        ~ .content {
          padding: 10px 10px 0 10px;
          max-height: 180px;
          min-height: 180px;
          border-color: $t-white;
          margin-right: 20px;
          transform: translateX(20px);
          transition: max-height 0.4s linear, border-color 0.5s linear, transform 0.2s linear;
          overflow-y: hidden;

          .content-inner {
            max-height: 150px;
            color: $t-white;
            transition: color 0.3s linear 0.3s;
            overflow-y: scroll;
            display: inline-flex;

            .featured-thumbnail {
              width: 150px;
              margin-right: 1rem;
            }

            .timeline-excerpt {
              text-align: left;
              font-size: 16px;
              line-height: 1.6;
              color: #888;

              a:not(.more-link) {
                @extend .text-secondary;

                &:hover {
                  @extend .text-dark;
                  text-decoration: none;
                }
              }

              p {
                margin: 0;
              }

              ul,
              ol {
                margin: 0 0 0 2em;

                li {
                  margin-top: 0;
                  margin-bottom: 0;
                  list-style-type: square;
                }
              }

              h1,
              h2,
              h3,
              h4,
              h5,
              h6 {
                font-size: 1rem;
                margin: 0;
                line-height: 26px;
              }
            }

            .timeline-meta {
              border-top: 1px dashed #ddd;
              margin-top: 5px;
              padding-top: 5px;

              .meta-category:not(:last-child) {
                margin-right: 1rem;
              }
            }
          }
        }
      }
    }
  }
}

/* -------------------------------------
* mobile phones (vertical version only)
* ------------------------------------- */
//@media screen and (max-width: 767px) 
@include media-breakpoint-down(sm) {
  .timeline-page {
    #timeline {
      margin: 50px 0 30px 100px;
      padding-left: 10px;

      label {
        white-space: normal;
      }

      .date {
        left: -128px;
        width: 78px;
        white-space: normal;
      }

      .radio {
        &:checked {
          + .relative {
            label {
              //              display: block;
              //              white-space: nowrap;
              //              overflow: hidden;
              //              text-overflow: ellipsis;
              //              transform: translateX(10px);
              display: none;
            }
          }

          ~ .content {
            margin-right: 0;
            transform: none;
            transition: none;

            .content-inner {
              transition: none;

              .featured-thumbnail {
                width: 80px;
              }

              .timeline-excerpt {
                font-size: $small-font-size; //14px;
              }

              .timeline-meta {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}

// Timeline in Blog --------------------------------------------------------
.timelines {
  position: relative;
  overflow: hidden;
  padding-bottom: 10px;
  margin-bottom: 5px;

  .history-date-content {
    width: 120px;
    float: left;
    text-align: center;
    color: #fff;
  }

  .history-date {
    @extend .bg-primary;
    font-weight: bold;
    float: left;
    padding: 5px 5px;
    width: 100px;
    z-index: 1;
    position: relative;
    border-radius: 4px;
    font-size: 12px;
    line-height: 20px;
    transition: 500ms;
  }

  .history-hor-line {
    position: absolute;
    height: 1px;
    width: 10px;
    margin-left: 100px;
    top: 50%;
  }

  .history-line {
    @extend .bg-primary;
    position: absolute;
    height: 100%;
    width: 1px;
    margin-left: 50px;
    margin-top: 30px;
  }

  .history-content {
    margin-left: 120px;
  }

  h4.history-title {
    margin: 0 0 10px;
    font-weight: 400;
    line-height: 30px;
    border-bottom: none;
  }

  .history-entry-content {
    margin-bottom: 1rem;
  }

  .history-start-point {
    @extend .bg-primary;
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 10px;
    left: 44px;
    bottom: 0;

    span {
      width: 6px;
      height: 6px;
      background-color: #fff;
      float: left;
      border-radius: 10px;
      margin-left: 3px;
      margin-top: 3px;
    }
  }
}

@include media-breakpoint-only(xs) {
  .historys {
    text-align: center;

    .history-date-content {
      margin: 0 auto 10px;
      float: none;
      display: inline-block;
      width: auto;
    }

    .history-date {}

    .history-hor-line,
    .history-line,
    .history-start-point {
      display: none;
    }

    .history-content {
      margin-left: 0;
      float: left;
    }

    .history-entry-content {
      text-align: left;
    }
  }
}

.d-block.d-sm-none {
  .widget {
    margin-bottom: 1rem;

    .widget-title {
      @extend .bg-info;
      padding: 1rem;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1;
      letter-spacing: .02em;
      margin: 0 -20px 1rem -20px;
      color: black;
    }

    // timeline search
    .searchandfilter {
      ul li {
        margin-bottom: 5px;
      }

      li.sf-field-submit,
      li.sf-field-reset {
        display: inline-block;
        width: 50%;
        padding-top: 10px;
      }
    }
  }
}
