.card-columns {
  @include media-breakpoint-only(md) {
    column-count: 2;
  }

  @include media-breakpoint-only(lg) {
    column-count: 3;
  }

  @include media-breakpoint-only(xl) {
    column-count: 3;
  }
}

.card-columns.no-gutter-card-dec {
  column-gap: 5px;
}

.no-gutter-card-deck > .card {
  margin-left: 0;
}

// Macy-card
.macy-card {
  //font-size: $small-font-size; //14px;
  line-height: 1.6;
  border-radius: 0;

  img {
    width: 100%;
    height: auto;
    box-sizing: border-box;
  }

  .post-type {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: hsla(0, 0%, 100%, .8);
    padding: 0 5px;
    font-size: $small-font-size;
  }

  .card-body {
    padding: .5em 1em;
  }

  .meta-flag {
    a {
      padding: 5px .5rem;
    }
    .flag-icon {
      font-size: 2rem;
    }
  }

  @include media-breakpoint-up(md) {
    .meta-flag {
      .flag-icon {
        font-size: 1.5rem;
      }
    }
  }

  h2.macy-card-title {
    font-size: 1rem;
    font-weight: inherit;
    letter-spacing: 0;
    margin: 0;

    a {
      color: #eceff1;

      &:hover {
        color: white;
      }
    }
  }
}

.macy-card-footer {
  background-color: #c0ca33;
  padding: .5rem;

  .category-dorama & {
    @extend %c-drama;
  }

  .keywords_family-religion & {
    @extend %k-museum;
  }

  .keywords_family-war & {
    @extend %k-family-war;
  }

  .keywords_family-person & {
    @extend %k-family-person;
  }

  .category-movie & {
    @extend %c-movie;
  }

  .category-map & {
    @extend %c-map;
  }

  .category-ft &,
  .category-other &,
  .category-dl & {
    @extend %c-ft;
  }

  .category-art & {
    @extend %c-art;
  }

  .keywords_family-world-heritage & {
    @extend %k-family-world-heritage;
  }

  .keywords_family-politics & {
    @extend %k-family-politics;
  }

  .category-lists & {
    @extend %c-lists;
  }

  .keywords_family-era-culture & {
    @extend %k-family-era-culture;
  }

  .keywords_family-geography & {
    @extend %k-family-geography;
  }

  .keywords_family-construction & {
    @extend %k-family-construction;
  }

  .keywords_family-museum & {
    @extend %k-museum;
  }

  .wpdmpro & {
    @extend %k-wpdmpro;
  }

  .chronology & {
    @extend %k-timeline
  }

  .type-japanese_history & {
    @extend %type-japan;
  }

  .type-world_history & {
    @extend %type-japan;
  }
}
