p {
  max-height: 100%;
}

.wrapper {
  padding: 30px 0;

  &#wrapper-hero,
  &#frontpage-wrapper {
    padding: 0;
  }
}

.wrapper-dark {
  background-color: #64b5f6;

  .widget {
    color: #444;

    a {
      color: #444;

      &:hover {
        color: white;
      }
    }
  }
}

/* 通常のボタン色 */
.btn-primary,
.btn-primary.disabled,
.btn-primary:disabled,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
}

ul.no_bullets,
ul.no_bullets li {
  list-style-type: none !important;
}

// Image
.wp-caption img {
  @extend .shadow-sm;
  background-color: white;
}

.figure-caption,
.wp-caption-text {
  @extend .text-secondary;
  font-size: $small-font-size; //14px
  padding: .25rem;
  line-height: 1.2;
}

.figure-img {
  margin-bottom: 0;
}

// jumbotron-mini
.jumbotron-mini {
  background-color: $info;
  padding: 1rem;

  a {
    @extend %black-link;
  }

  p {
    margin-bottom: .4rem;
  }

  .chapter-icon,
  .published-icon,
  .update-icon,
  .tag-icon {
    &:before {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      width: 1.28571429em;
      text-align: center;
    }
  }

  .chapter-icon:before {
    content: "\f097";
    color: $blue2019;
  }

  .published-icon:before {
    content: "\f073";
    color: $blue2019;
  }

  .update-icon:before {
    content: "\f021";
    color: $blue2019;
  }

  .tag-icon:before {
    content: "\f02b";
    color: $blue2019;
  }

  .meta-flag {
    i {
      margin-right: 2px;
    }

    a {
      color: gray('600');
    }
  }
}

@include media-breakpoint-down(xs) {
  .jumbotron-mini {
    padding: 0 0 1rem 0;

    h1.entry-title {
      margin-bottom: 0;
    }
  }
}


// right-widget 
#right-sidebar {
  .widget {
    margin-bottom: 1rem;
  }
}

//Breadcrumbs
.breadcrumbs {
  width: 100%;

  a {
    @extend .text-body;

    &:hover {
      @extend .text-muted;
      text-decoration: none;
    }
  }
}

/* media-breakpoint 768px */
@include media-breakpoint-down(sm) {
  .wrapper {
    padding: 12px 0;
  }
}

// Small devices (landscape phones, 576px and down)
@media (max-width: 767.98px) {
  .navbar {
    a.navbar-brand {
      img {
        width: 152px;
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .navbar {
    a.navbar-brand {
      margin-left: 10px;

      img {
        width: 230px;
      }
    }
  }
}
