h1.page-title {
  margin: 0 0 1em 0;
}

.post-navigation {
  padding: 1rem .5rem;
  border-top: 1px solid gray("200");

  a {
    color: text-muted;
  }
}

.chapter-nav {
  padding: .5rem 0 1rem 0;

  .meta-nav {
    font-size: $small-font-size;
    color: #adb5bd;
  }

  a {
    color: black;

    &:hover {
      text-decoration: none;
      color: #ee6d8a;
    }
  }

  &.post {
    margin-bottom: 2rem;
  }

}

.chevron-left {
  padding-left: 1em;
  position: relative;

  &:before {
    position: absolute;
    font-family: FontAwesome;
    content: "\f053";
    left: 0;
    color: $info;
  }
}

.chevron-right {
  padding-right: 1em;
  position: relative;

  &:before {
    position: absolute;
    font-family: FontAwesome;
    content: "\f054";
    right: 0;
    color: $info;
  }
}

// front-page
.home {
  #wrapper-static-hero {
    .widget_text {
      .widget-title {
        margin-top: 0;
      }
    }
  }
}
