.sprite {
  background-image: url("../images/flog2.png");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  //margin-right: 2px;
}

.sprite-abkhazia {
  width: 16px;
  height: 16px;
  background-position: -2px -2px;
}

.sprite-afc {
  width: 19px;
  height: 13px;
  background-position: -22px -2px;
}

.sprite-afghanistan {
  width: 16px;
  height: 16px;
  background-position: -45px -2px;
}

.sprite-afr,
.sprite-afr-2,
.sprite-afr-3,
.sprite-afr-4,
.sprite-afr-5 {
  width: 19px;
  height: 13px;
  background-position: -65px -2px;
}

.sprite-aland {
  width: 16px;
  height: 16px;
  background-position: -111px -2px;
}

.sprite-albania {
  width: 16px;
  height: 16px;
  background-position: -131px -2px;
}

.sprite-algeria {
  width: 16px;
  height: 16px;
  background-position: -151px -2px;
}

.sprite-american-samoa {
  width: 16px;
  height: 16px;
  background-position: -171px -2px;
}

.sprite-andorra {
  width: 16px;
  height: 16px;
  background-position: -191px -2px;
}

.sprite-angola {
  width: 16px;
  height: 16px;
  background-position: -211px -2px;
}

.sprite-anguilla {
  width: 16px;
  height: 16px;
  background-position: -231px -2px;
}

.sprite-antarctica {
  width: 16px;
  height: 16px;
  background-position: -251px -2px;
}

.sprite-antigua-and-barbuda {
  width: 16px;
  height: 16px;
  background-position: -271px -2px;
}

.sprite-argentina {
  width: 16px;
  height: 16px;
  background-position: -291px -2px;
}

.sprite-armenia {
  width: 16px;
  height: 16px;
  background-position: -311px -2px;
}

.sprite-aruba {
  width: 16px;
  height: 16px;
  background-position: -2px -22px;
}

.sprite-australia {
  width: 16px;
  height: 16px;
  background-position: -22px -22px;
}

.sprite-austria {
  width: 16px;
  height: 16px;
  background-position: -42px -22px;
}

.sprite-azerbaijan {
  width: 16px;
  height: 16px;
  background-position: -62px -22px;
}

.sprite-bahamas {
  width: 16px;
  height: 16px;
  background-position: -82px -22px;
}

.sprite-bahrain {
  width: 16px;
  height: 16px;
  background-position: -102px -22px;
}

.sprite-bangladesh {
  width: 16px;
  height: 16px;
  background-position: -122px -22px;
}

.sprite-barbados {
  width: 16px;
  height: 16px;
  background-position: -142px -22px;
}

.sprite-basque-country {
  width: 16px;
  height: 16px;
  background-position: -162px -22px;
}

.sprite-belarus {
  width: 16px;
  height: 16px;
  background-position: -182px -22px;
}

.sprite-belgium {
  width: 16px;
  height: 16px;
  background-position: -202px -22px;
}

.sprite-belize {
  width: 16px;
  height: 16px;
  background-position: -222px -22px;
}

.sprite-benin {
  width: 16px;
  height: 16px;
  background-position: -242px -22px;
}

.sprite-bermuda {
  width: 16px;
  height: 16px;
  background-position: -262px -22px;
}

.sprite-bhutan {
  width: 16px;
  height: 16px;
  background-position: -282px -22px;
}

.sprite-bolivia {
  width: 16px;
  height: 16px;
  background-position: -302px -22px;
}

.sprite-bosnia-and-herzegovina {
  width: 16px;
  height: 16px;
  background-position: -2px -42px;
}

.sprite-botswana {
  width: 16px;
  height: 16px;
  background-position: -22px -42px;
}

.sprite-brazil {
  width: 16px;
  height: 16px;
  background-position: -42px -42px;
}

.sprite-british-antarctic-territory {
  width: 16px;
  height: 16px;
  background-position: -62px -42px;
}

.sprite-british-virgin-islands {
  width: 16px;
  height: 16px;
  background-position: -82px -42px;
}

.sprite-brunei {
  width: 16px;
  height: 16px;
  background-position: -102px -42px;
}

.sprite-bulgaria {
  width: 16px;
  height: 16px;
  background-position: -122px -42px;
}

.sprite-burkina-faso {
  width: 16px;
  height: 16px;
  background-position: -142px -42px;
}

.sprite-burundi {
  width: 16px;
  height: 16px;
  background-position: -162px -42px;
}

.sprite-cam {
  width: 19px;
  height: 13px;
  background-position: -182px -42px;
}

.sprite-cambodia {
  width: 16px;
  height: 16px;
  background-position: -205px -42px;
}

.sprite-cameroon {
  width: 16px;
  height: 16px;
  background-position: -225px -42px;
}

.sprite-canada {
  width: 16px;
  height: 16px;
  background-position: -245px -42px;
}

.sprite-canary-islands {
  width: 16px;
  height: 16px;
  background-position: -265px -42px;
}

.sprite-cape-verde {
  width: 16px;
  height: 16px;
  background-position: -285px -42px;
}

.sprite-cayman-islands {
  width: 16px;
  height: 16px;
  background-position: -305px -42px;
}

.sprite-central-african-republic {
  width: 16px;
  height: 16px;
  background-position: -2px -62px;
}

.sprite-chad {
  width: 16px;
  height: 16px;
  background-position: -22px -62px;
}

.sprite-chile {
  width: 16px;
  height: 16px;
  background-position: -42px -62px;
}

.sprite-china {
  width: 16px;
  height: 16px;
  background-position: -62px -62px;
}

.sprite-christmas-island {
  width: 16px;
  height: 16px;
  background-position: -82px -62px;
}

.sprite-cocos-keeling-islands {
  width: 16px;
  height: 16px;
  background-position: -102px -62px;
}

.sprite-colombia {
  width: 16px;
  height: 16px;
  background-position: -122px -62px;
}

.sprite-commonwealth {
  width: 16px;
  height: 16px;
  background-position: -142px -62px;
}

.sprite-comoros {
  width: 16px;
  height: 16px;
  background-position: -162px -62px;
}

.sprite-cook-islands {
  width: 16px;
  height: 16px;
  background-position: -182px -62px;
}

.sprite-costa-rica {
  width: 16px;
  height: 16px;
  background-position: -202px -62px;
}

.sprite-cote-divoire {
  width: 16px;
  height: 16px;
  background-position: -222px -62px;
}

.sprite-croatia {
  width: 16px;
  height: 16px;
  background-position: -242px -62px;
}

.sprite-cuba {
  width: 16px;
  height: 16px;
  background-position: -262px -62px;
}

.sprite-curacao {
  width: 16px;
  height: 16px;
  background-position: -282px -62px;
}

.sprite-cyprus {
  width: 16px;
  height: 16px;
  background-position: -302px -62px;
}

.sprite-czech-republic {
  width: 16px;
  height: 16px;
  background-position: -2px -82px;
}

.sprite-democratic-republic-of-the-congo {
  width: 16px;
  height: 16px;
  background-position: -22px -82px;
}

.sprite-denmark {
  width: 16px;
  height: 16px;
  background-position: -42px -82px;
}

.sprite-djibouti {
  width: 16px;
  height: 16px;
  background-position: -62px -82px;
}

.sprite-dominica {
  width: 16px;
  height: 16px;
  background-position: -82px -82px;
}

.sprite-dominican-republic {
  width: 16px;
  height: 16px;
  background-position: -102px -82px;
}

.sprite-eas {
  width: 19px;
  height: 13px;
  background-position: -122px -82px;
}

.sprite-east-timor {
  width: 16px;
  height: 16px;
  background-position: -145px -82px;
}

.sprite-ecuador {
  width: 16px;
  height: 16px;
  background-position: -165px -82px;
}

.sprite-eeu {
  width: 19px;
  height: 13px;
  background-position: -185px -82px;
}

.sprite-egypt {
  width: 16px;
  height: 16px;
  background-position: -208px -82px;
}

.sprite-el-salvador {
  width: 16px;
  height: 16px;
  background-position: -228px -82px;
}

.sprite-england {
  width: 16px;
  height: 16px;
  background-position: -248px -82px;
}

.sprite-equatorial-guinea {
  width: 16px;
  height: 16px;
  background-position: -268px -82px;
}

.sprite-eritrea {
  width: 16px;
  height: 16px;
  background-position: -288px -82px;
}

.sprite-esa {
  width: 19px;
  height: 13px;
  background-position: -308px -82px;
}

.sprite-estonia {
  width: 16px;
  height: 16px;
  background-position: -122px -99px;
}

.sprite-ethiopia {
  width: 16px;
  height: 16px;
  background-position: -185px -99px;
}

.sprite-european-union {
  width: 16px;
  height: 16px;
  background-position: -308px -99px;
}

.sprite-falkland-islands {
  width: 16px;
  height: 16px;
  background-position: -2px -119px;
}

.sprite-faroes {
  width: 16px;
  height: 16px;
  background-position: -22px -119px;
}

.sprite-fiji {
  width: 16px;
  height: 16px;
  background-position: -42px -119px;
}

.sprite-finland {
  width: 16px;
  height: 16px;
  background-position: -62px -119px;
}

.sprite-france {
  width: 16px;
  height: 16px;
  background-position: -82px -119px;
}

.sprite-french-polynesia {
  width: 16px;
  height: 16px;
  background-position: -102px -119px;
}

.sprite-french-southern-territories {
  width: 16px;
  height: 16px;
  background-position: -122px -119px;
}

.sprite-gabon {
  width: 16px;
  height: 16px;
  background-position: -142px -119px;
}

.sprite-gambia {
  width: 16px;
  height: 16px;
  background-position: -162px -119px;
}

.sprite-georgia {
  width: 16px;
  height: 16px;
  background-position: -182px -119px;
}

.sprite-germany {
  width: 16px;
  height: 16px;
  background-position: -202px -119px;
}

.sprite-ghana {
  width: 16px;
  height: 16px;
  background-position: -222px -119px;
}

.sprite-gibraltar {
  width: 16px;
  height: 16px;
  background-position: -242px -119px;
}

.sprite-gosquared {
  width: 16px;
  height: 16px;
  background-position: -262px -119px;
}

.sprite-greece {
  width: 16px;
  height: 16px;
  background-position: -282px -119px;
}

.sprite-greenland {
  width: 16px;
  height: 16px;
  background-position: -302px -119px;
}

.sprite-grenada {
  width: 16px;
  height: 16px;
  background-position: -2px -139px;
}

.sprite-guam {
  width: 16px;
  height: 16px;
  background-position: -22px -139px;
}

.sprite-guatemala {
  width: 16px;
  height: 16px;
  background-position: -42px -139px;
}

.sprite-guernsey {
  width: 16px;
  height: 16px;
  background-position: -62px -139px;
}

.sprite-guinea {
  width: 16px;
  height: 16px;
  background-position: -82px -139px;
}

.sprite-guinea-bissau {
  width: 16px;
  height: 16px;
  background-position: -102px -139px;
}

.sprite-guyana {
  width: 16px;
  height: 16px;
  background-position: -122px -139px;
}

.sprite-haiti {
  width: 16px;
  height: 16px;
  background-position: -142px -139px;
}

.sprite-honduras {
  width: 16px;
  height: 16px;
  background-position: -162px -139px;
}

.sprite-hong-kong {
  width: 16px;
  height: 16px;
  background-position: -182px -139px;
}

.sprite-hungary {
  width: 16px;
  height: 16px;
  background-position: -202px -139px;
}

.sprite-iceland {
  width: 16px;
  height: 16px;
  background-position: -222px -139px;
}

.sprite-india {
  width: 16px;
  height: 16px;
  background-position: -242px -139px;
}

.sprite-indonesia {
  width: 16px;
  height: 16px;
  background-position: -262px -139px;
}

.sprite-iran {
  width: 16px;
  height: 16px;
  background-position: -282px -139px;
}

.sprite-iraq {
  width: 16px;
  height: 16px;
  background-position: -302px -139px;
}

.sprite-ireland {
  width: 16px;
  height: 16px;
  background-position: -2px -159px;
}

.sprite-isle-of-man {
  width: 16px;
  height: 16px;
  background-position: -22px -159px;
}

.sprite-israel {
  width: 16px;
  height: 16px;
  background-position: -42px -159px;
}

.sprite-italy {
  width: 16px;
  height: 16px;
  background-position: -62px -159px;
}

.sprite-jamaica {
  width: 16px;
  height: 16px;
  background-position: -82px -159px;
}

.sprite-japan {
  width: 16px;
  height: 16px;
  background-position: -102px -159px;
}

.sprite-jersey {
  width: 16px;
  height: 16px;
  background-position: -122px -159px;
}

.sprite-jordan {
  width: 16px;
  height: 16px;
  background-position: -142px -159px;
}

.sprite-kazakhstan {
  width: 16px;
  height: 16px;
  background-position: -162px -159px;
}

.sprite-kenya {
  width: 16px;
  height: 16px;
  background-position: -182px -159px;
}

.sprite-kiribati {
  width: 16px;
  height: 16px;
  background-position: -202px -159px;
}

.sprite-korea-north {
  width: 19px;
  height: 13px;
  background-position: -222px -159px;
}

.sprite-korea-south {
  width: 19px;
  height: 13px;
  background-position: -245px -159px;
}

.sprite-kosovo {
  width: 16px;
  height: 16px;
  background-position: -268px -159px;
}

.sprite-kuwait {
  width: 16px;
  height: 16px;
  background-position: -288px -159px;
}

.sprite-kyrgyzstan {
  width: 16px;
  height: 16px;
  background-position: -308px -159px;
}

.sprite-laos {
  width: 16px;
  height: 16px;
  background-position: -2px -179px;
}

.sprite-latvia {
  width: 16px;
  height: 16px;
  background-position: -22px -179px;
}

.sprite-lebanon {
  width: 16px;
  height: 16px;
  background-position: -42px -179px;
}

.sprite-lesotho {
  width: 16px;
  height: 16px;
  background-position: -62px -179px;
}

.sprite-liberia {
  width: 16px;
  height: 16px;
  background-position: -82px -179px;
}

.sprite-libya {
  width: 16px;
  height: 16px;
  background-position: -102px -179px;
}

.sprite-liechtenstein {
  width: 16px;
  height: 16px;
  background-position: -122px -179px;
}

.sprite-lithuania {
  width: 16px;
  height: 16px;
  background-position: -142px -179px;
}

.sprite-luxembourg {
  width: 16px;
  height: 16px;
  background-position: -162px -179px;
}

.sprite-macau {
  width: 16px;
  height: 16px;
  background-position: -182px -179px;
}

.sprite-macedonia {
  width: 16px;
  height: 16px;
  background-position: -202px -179px;
}

.sprite-madagascar {
  width: 16px;
  height: 16px;
  background-position: -222px -179px;
}

.sprite-malawi {
  width: 16px;
  height: 16px;
  background-position: -242px -179px;
}

.sprite-malaysia {
  width: 16px;
  height: 16px;
  background-position: -262px -179px;
}

.sprite-maldives {
  width: 16px;
  height: 16px;
  background-position: -282px -179px;
}

.sprite-mali {
  width: 16px;
  height: 16px;
  background-position: -302px -179px;
}

.sprite-malta {
  width: 16px;
  height: 16px;
  background-position: -2px -199px;
}

.sprite-mars {
  width: 16px;
  height: 16px;
  background-position: -22px -199px;
}

.sprite-marshall-islands {
  width: 16px;
  height: 16px;
  background-position: -42px -199px;
}

.sprite-martinique {
  width: 16px;
  height: 16px;
  background-position: -62px -199px;
}

.sprite-mauritania {
  width: 16px;
  height: 16px;
  background-position: -82px -199px;
}

.sprite-mauritius {
  width: 16px;
  height: 16px;
  background-position: -102px -199px;
}

.sprite-mayotte {
  width: 16px;
  height: 16px;
  background-position: -122px -199px;
}

.sprite-mexico {
  width: 16px;
  height: 16px;
  background-position: -142px -199px;
}

.sprite-micronesia {
  width: 16px;
  height: 16px;
  background-position: -162px -199px;
}

.sprite-moldova {
  width: 16px;
  height: 16px;
  background-position: -182px -199px;
}

.sprite-monaco {
  width: 16px;
  height: 16px;
  background-position: -202px -199px;
}

.sprite-mongolia {
  width: 16px;
  height: 16px;
  background-position: -222px -199px;
}

.sprite-montenegro {
  width: 16px;
  height: 16px;
  background-position: -242px -199px;
}

.sprite-montserrat {
  width: 16px;
  height: 16px;
  background-position: -262px -199px;
}

.sprite-morocco {
  width: 16px;
  height: 16px;
  background-position: -282px -199px;
}

.sprite-mozambique {
  width: 16px;
  height: 16px;
  background-position: -302px -199px;
}

.sprite-myanmar {
  width: 16px;
  height: 16px;
  background-position: -2px -219px;
}

.sprite-nagorno-karabakh {
  width: 16px;
  height: 16px;
  background-position: -22px -219px;
}

.sprite-nam {
  width: 19px;
  height: 13px;
  background-position: -42px -219px;
}

.sprite-namibia {
  width: 16px;
  height: 16px;
  background-position: -65px -219px;
}

.sprite-nato {
  width: 16px;
  height: 16px;
  background-position: -85px -219px;
}

.sprite-nauru {
  width: 16px;
  height: 16px;
  background-position: -105px -219px;
}

.sprite-nepal {
  width: 16px;
  height: 16px;
  background-position: -125px -219px;
}

.sprite-netherlands {
  width: 16px;
  height: 16px;
  background-position: -145px -219px;
}

.sprite-netherlands-antilles {
  width: 16px;
  height: 16px;
  background-position: -165px -219px;
}

.sprite-neu {
  width: 19px;
  height: 13px;
  background-position: -185px -219px;
}

.sprite-new-caledonia {
  width: 16px;
  height: 16px;
  background-position: -208px -219px;
}

.sprite-new-zealand {
  width: 16px;
  height: 16px;
  background-position: -228px -219px;
}

.sprite-nicaragua {
  width: 16px;
  height: 16px;
  background-position: -248px -219px;
}

.sprite-niger {
  width: 16px;
  height: 16px;
  background-position: -268px -219px;
}

.sprite-nigeria {
  width: 16px;
  height: 16px;
  background-position: -288px -219px;
}

.sprite-nis {
  width: 19px;
  height: 13px;
  background-position: -308px -219px;
}

.sprite-niue {
  width: 16px;
  height: 16px;
  background-position: -42px -236px;
}

.sprite-norfolk-island {
  width: 16px;
  height: 16px;
  background-position: -185px -236px;
}

.sprite-north-korea {
  width: 16px;
  height: 16px;
  background-position: -308px -236px;
}

.sprite-northern-cyprus {
  width: 16px;
  height: 16px;
  background-position: -2px -256px;
}

.sprite-northern-mariana-islands {
  width: 16px;
  height: 16px;
  background-position: -22px -256px;
}

.sprite-norway {
  width: 16px;
  height: 16px;
  background-position: -42px -256px;
}

.sprite-oce {
  width: 19px;
  height: 13px;
  background-position: -62px -256px;
}

.sprite-oman {
  width: 16px;
  height: 16px;
  background-position: -85px -256px;
}

.sprite-pakistan {
  width: 16px;
  height: 16px;
  background-position: -105px -256px;
}

.sprite-palau {
  width: 16px;
  height: 16px;
  background-position: -125px -256px;
}

.sprite-palestine {
  width: 16px;
  height: 16px;
  background-position: -145px -256px;
}

.sprite-panama {
  width: 16px;
  height: 16px;
  background-position: -165px -256px;
}

.sprite-papua-new-guinea {
  width: 16px;
  height: 16px;
  background-position: -185px -256px;
}

.sprite-paraguay {
  width: 16px;
  height: 16px;
  background-position: -205px -256px;
}

.sprite-peru {
  width: 16px;
  height: 16px;
  background-position: -225px -256px;
}

.sprite-philippines {
  width: 16px;
  height: 16px;
  background-position: -245px -256px;
}

.sprite-pitcairn-islands {
  width: 16px;
  height: 16px;
  background-position: -265px -256px;
}

.sprite-poland {
  width: 16px;
  height: 16px;
  background-position: -285px -256px;
}

.sprite-portugal {
  width: 16px;
  height: 16px;
  background-position: -305px -256px;
}

.sprite-puerto-rico {
  width: 16px;
  height: 16px;
  background-position: -2px -276px;
}

.sprite-qatar {
  width: 16px;
  height: 16px;
  background-position: -22px -276px;
}

.sprite-red-cross {
  width: 16px;
  height: 16px;
  background-position: -42px -276px;
}

.sprite-republic-of-the-congo {
  width: 16px;
  height: 16px;
  background-position: -62px -276px;
}

.sprite-romania {
  width: 16px;
  height: 16px;
  background-position: -82px -276px;
}

.sprite-russia {
  width: 16px;
  height: 16px;
  background-position: -102px -276px;
}

.sprite-rwanda {
  width: 16px;
  height: 16px;
  background-position: -122px -276px;
}

.sprite-saint-barthelemy {
  width: 16px;
  height: 16px;
  background-position: -142px -276px;
}

.sprite-saint-helena {
  width: 16px;
  height: 16px;
  background-position: -162px -276px;
}

.sprite-saint-kitts-and-nevis {
  width: 16px;
  height: 16px;
  background-position: -182px -276px;
}

.sprite-saint-lucia {
  width: 16px;
  height: 16px;
  background-position: -202px -276px;
}

.sprite-saint-martin {
  width: 16px;
  height: 16px;
  background-position: -222px -276px;
}

.sprite-saint-vincent-and-the-grenadines {
  width: 16px;
  height: 16px;
  background-position: -242px -276px;
}

.sprite-sam {
  width: 19px;
  height: 13px;
  background-position: -262px -276px;
}

.sprite-samoa {
  width: 16px;
  height: 16px;
  background-position: -285px -276px;
}

.sprite-san-marino {
  width: 16px;
  height: 16px;
  background-position: -305px -276px;
}

.sprite-sao-tome-and-principe {
  width: 16px;
  height: 16px;
  background-position: -2px -296px;
}

.sprite-sas {
  width: 19px;
  height: 13px;
  background-position: -22px -296px;
}

.sprite-saudi-arabia {
  width: 16px;
  height: 16px;
  background-position: -45px -296px;
}

.sprite-scotland {
  width: 16px;
  height: 16px;
  background-position: -65px -296px;
}

.sprite-senegal {
  width: 16px;
  height: 16px;
  background-position: -85px -296px;
}

.sprite-serbia {
  width: 16px;
  height: 16px;
  background-position: -105px -296px;
}

.sprite-seu {
  width: 19px;
  height: 13px;
  background-position: -125px -296px;
}

.sprite-seychelles {
  width: 16px;
  height: 16px;
  background-position: -148px -296px;
}

.sprite-sierra-leone {
  width: 16px;
  height: 16px;
  background-position: -168px -296px;
}

.sprite-singapore {
  width: 16px;
  height: 16px;
  background-position: -188px -296px;
}

.sprite-slovakia {
  width: 16px;
  height: 16px;
  background-position: -208px -296px;
}

.sprite-slovenia {
  width: 16px;
  height: 16px;
  background-position: -228px -296px;
}

.sprite-solomon-islands {
  width: 16px;
  height: 16px;
  background-position: -248px -296px;
}

.sprite-somalia {
  width: 16px;
  height: 16px;
  background-position: -268px -296px;
}

.sprite-somaliland {
  width: 16px;
  height: 16px;
  background-position: -288px -296px;
}

.sprite-south-africa {
  width: 16px;
  height: 16px;
  background-position: -308px -296px;
}

.sprite-south-georgia-and-the-south-sandwich-islands {
  width: 16px;
  height: 16px;
  background-position: -331px -2px;
}

.sprite-south-korea {
  width: 16px;
  height: 16px;
  background-position: -322px -22px;
}

.sprite-south-ossetia {
  width: 16px;
  height: 16px;
  background-position: -325px -42px;
}

.sprite-south-sudan {
  width: 16px;
  height: 16px;
  background-position: -322px -62px;
}

.sprite-spain {
  width: 16px;
  height: 16px;
  background-position: -331px -82px;
}

.sprite-sri-lanka {
  width: 16px;
  height: 16px;
  background-position: -328px -102px;
}

.sprite-sudan {
  width: 16px;
  height: 16px;
  background-position: -322px -122px;
}

.sprite-suriname {
  width: 16px;
  height: 16px;
  background-position: -328px -142px;
}

.sprite-swaziland {
  width: 16px;
  height: 16px;
  background-position: -328px -162px;
}

.sprite-sweden {
  width: 16px;
  height: 16px;
  background-position: -322px -182px;
}

.sprite-switzerland {
  width: 16px;
  height: 16px;
  background-position: -331px -202px;
}

.sprite-syria {
  width: 16px;
  height: 16px;
  background-position: -331px -222px;
}

.sprite-taiwan {
  width: 16px;
  height: 16px;
  background-position: -328px -242px;
}

.sprite-tajikistan {
  width: 16px;
  height: 16px;
  background-position: -325px -262px;
}

.sprite-tanzania {
  width: 16px;
  height: 16px;
  background-position: -328px -282px;
}

.sprite-thailand {
  width: 16px;
  height: 16px;
  background-position: -328px -302px;
}

.sprite-togo {
  width: 16px;
  height: 16px;
  background-position: -2px -322px;
}

.sprite-tokelau {
  width: 16px;
  height: 16px;
  background-position: -22px -322px;
}

.sprite-tonga {
  width: 16px;
  height: 16px;
  background-position: -42px -322px;
}

.sprite-trinidad-and-tobago {
  width: 16px;
  height: 16px;
  background-position: -62px -322px;
}

.sprite-tunisia {
  width: 16px;
  height: 16px;
  background-position: -82px -322px;
}

.sprite-turkey {
  width: 16px;
  height: 16px;
  background-position: -102px -322px;
}

.sprite-turkmenistan {
  width: 16px;
  height: 16px;
  background-position: -122px -322px;
}

.sprite-turks-and-caicos-islands {
  width: 16px;
  height: 16px;
  background-position: -142px -322px;
}

.sprite-tuvalu {
  width: 16px;
  height: 16px;
  background-position: -162px -322px;
}

.sprite-uganda {
  width: 16px;
  height: 16px;
  background-position: -182px -322px;
}

.sprite-ukraine {
  width: 16px;
  height: 16px;
  background-position: -202px -322px;
}

.sprite-united-arab-emirates {
  width: 16px;
  height: 16px;
  background-position: -222px -322px;
}

.sprite-united-kingdom {
  width: 16px;
  height: 16px;
  background-position: -242px -322px;
}

.sprite-united-nations {
  width: 16px;
  height: 16px;
  background-position: -262px -322px;
}

.sprite-united-states {
  width: 16px;
  height: 16px;
  background-position: -282px -322px;
}

.sprite-universal {
  width: 19px;
  height: 13px;
  background-position: -2px -102px;
}

.sprite-uruguay {
  width: 16px;
  height: 16px;
  background-position: -302px -322px;
}

.sprite-us-virgin-islands {
  width: 16px;
  height: 16px;
  background-position: -322px -322px;
}

.sprite-uzbekistan {
  width: 16px;
  height: 16px;
  background-position: -351px -2px;
}

.sprite-vanuatu {
  width: 16px;
  height: 16px;
  background-position: -342px -22px;
}

.sprite-vatican-city {
  width: 16px;
  height: 16px;
  background-position: -345px -42px;
}

.sprite-venezuela {
  width: 16px;
  height: 16px;
  background-position: -342px -62px;
}

.sprite-vietnam {
  width: 16px;
  height: 16px;
  background-position: -351px -82px;
}

.sprite-wales {
  width: 16px;
  height: 16px;
  background-position: -348px -102px;
}

.sprite-wallis-and-futuna {
  width: 16px;
  height: 16px;
  background-position: -342px -122px;
}

.sprite-was {
  width: 19px;
  height: 13px;
  background-position: -25px -102px;
}

.sprite-western-sahara {
  width: 16px;
  height: 16px;
  background-position: -348px -142px;
}

.sprite-weu {
  width: 19px;
  height: 13px;
  background-position: -48px -102px;
}

.sprite-yemen {
  width: 16px;
  height: 16px;
  background-position: -348px -162px;
}

.sprite-zambia {
  width: 16px;
  height: 16px;
  background-position: -342px -182px;
}

.sprite-zimbabwe {
  width: 16px;
  height: 16px;
  background-position: -351px -202px;
}
