// my button
.btn-colal2019 {
  @include button-variant($colal2019, darken($colal2019, 7.5%), darken($colal2019, 10%), lighten($colal2019, 5%), lighten($colal2019, 10%), darken($colal2019, 30%));
  color: #fff;
}

.btn-outline-colal2019 {
  @include button-outline-variant($colal2019, #fff, lighten($colal2019, 5%), $colal2019);
}

// my link
%material-dark-link {
  color: black;

  &:hover {
    color: $primary;
    text-decoration: none;
    font-weight: bold;
  }
}

%black-link {
  color: #343434;

  &:hover {
    color: black;
    text-decoration: none;
    font-weight: bold;
  }
}

// category colors

%c-drama {
  background-color: #ba68c8;
}

%c-movie {
  background-color: #9575cd;
}

%c-lists {
  background-color: #ff8a65;
}

%c-map {
  background-color: #fafafa;
}

%c-ft {
  background-color: #263238;
}

%c-art {
  background-color: #81c784;
}

%k-family-war {
  background-color: #ef5350;
}

%k-family-person {
  background-color: #f06292;
}

%k-family-world-heritage {
  background-color: #7986cb !important;
}

%k-family-politics {
  background-color: #ffb74d !important;
}

%k-family-era-culture {
  background-color: #4dd0e1;
}

%k-family-geography {
  background-color: #ee6e73;
}

%k-family-construction {
  background-color: #9ccc65;
}

%k-museum {
  background-color: #a1887f;
}

%k-wpdmpro {
  background-color: #8d6e63;
}

%k-timeline {
  background-color: #bdbdbd;
}

%type-japan {
  background-color: #9fa8da;
}

%type-world {
  background-color: #ce93d8;
}
