@if variable-exists(include) {
  @each $country in $include {
    @include flag-icon($country);
  }
}

@else {
  @include flag-icon(andorra);
  @include flag-icon(united-arab-emirates);
  @include flag-icon(afghanistan);
  @include flag-icon(antigua-and-barbuda);
  @include flag-icon(anguilla);
  @include flag-icon(albania);
  @include flag-icon(armenia);
  @include flag-icon(angola);
  @include flag-icon(antarctica);
  @include flag-icon(argentina);
  @include flag-icon(american-samoa);
  @include flag-icon(austria);
  @include flag-icon(australia);
  @include flag-icon(aruba);
  @include flag-icon(aland);
  @include flag-icon(azerbaijan);
  @include flag-icon(bosnia-and-herzegovina);
  @include flag-icon(barbados);
  @include flag-icon(bangladesh);
  @include flag-icon(belgium);
  @include flag-icon(burkina-faso);
  @include flag-icon(bulgaria);
  @include flag-icon(bahrain);
  @include flag-icon(burundi);
  @include flag-icon(benin);
  @include flag-icon(saint-barthelemy);
  @include flag-icon(bermuda);
  @include flag-icon(brunei);
  @include flag-icon(bolivia);
  @include flag-icon(bonaire-saint-eustatius-and-saba);
  @include flag-icon(brazil);
  @include flag-icon(bahamas);
  @include flag-icon(bhutan);
  @include flag-icon(bouvet-island);
  @include flag-icon(botswana);
  @include flag-icon(belarus);
  @include flag-icon(belize);
  @include flag-icon(canada);
  @include flag-icon(cocos-keeling-islands);
  @include flag-icon(democratic-republic-of-the-congo);
  @include flag-icon(central-african-republic);
  @include flag-icon(congo);
  @include flag-icon(switzerland);
  @include flag-icon(cote-divoire);
  @include flag-icon(cook-islands);
  @include flag-icon(chile);
  @include flag-icon(cameroon);
  @include flag-icon(china);
  @include flag-icon(colombia);
  @include flag-icon(costa-rica);
  @include flag-icon(cuba);
  @include flag-icon(cape-verde);
  @include flag-icon(curacao);
  @include flag-icon(christmas-island);
  @include flag-icon(cyprus);
  @include flag-icon(czech-republic);
  @include flag-icon(germany);
  @include flag-icon(djibouti);
  @include flag-icon(denmark);
  @include flag-icon(dominica);
  @include flag-icon(dominican-republic);
  @include flag-icon(algeria);
  @include flag-icon(ecuador);
  @include flag-icon(estonia);
  @include flag-icon(egypt);
  @include flag-icon(western-sahara);
  @include flag-icon(eritrea);
  @include flag-icon(spain);
  @include flag-icon(ethiopia);
  @include flag-icon(finland);
  @include flag-icon(fiji);
  @include flag-icon(falkland-islands);
  @include flag-icon(micronesia);
  @include flag-icon(faroe-islands);
  @include flag-icon(france);
  @include flag-icon(gabon);
  @include flag-icon(united-kingdom);
  @include flag-icon(grenada);
  @include flag-icon(georgia);
  @include flag-icon(french-guiana);
  @include flag-icon(guernsey);
  @include flag-icon(ghana);
  @include flag-icon(gibraltar);
  @include flag-icon(greenland);
  @include flag-icon(gambia);
  @include flag-icon(guinea);
  @include flag-icon(guadeloupe);
  @include flag-icon(equatorial-guinea);
  @include flag-icon(greece);
  @include flag-icon(south-georgia-and-the-south-sandwich-islands);
  @include flag-icon(guatemala);
  @include flag-icon(guam);
  @include flag-icon(guinea-bissau);
  @include flag-icon(guyana);
  @include flag-icon(hong-kong);
  @include flag-icon(heard-island-and-mcdonald-islands);
  @include flag-icon(honduras);
  @include flag-icon(croatia);
  @include flag-icon(haiti);
  @include flag-icon(hungary);
  @include flag-icon(indonesia);
  @include flag-icon(ireland);
  @include flag-icon(israel);
  @include flag-icon(isle-of-man);
  @include flag-icon(india);
  @include flag-icon(british-indian-ocean-territory);
  @include flag-icon(iraq);
  @include flag-icon(iran);
  @include flag-icon(iceland);
  @include flag-icon(italy);
  @include flag-icon(jersey);
  @include flag-icon(jamaica);
  @include flag-icon(jordan);
  @include flag-icon(japan);
  @include flag-icon(kenya);
  @include flag-icon(kyrgyzstan);
  @include flag-icon(cambodia);
  @include flag-icon(kiribati);
  @include flag-icon(comoros);
  @include flag-icon(saint-kitts-and-nevis);
  @include flag-icon(korea-north);
  @include flag-icon(korea-south);
  @include flag-icon(kuwait);
  @include flag-icon(cayman-islands);
  @include flag-icon(kazakhstan);
  @include flag-icon(laos);
  @include flag-icon(lebanon);
  @include flag-icon(saint-lucia);
  @include flag-icon(liechtenstein);
  @include flag-icon(sri-lanka);
  @include flag-icon(liberia);
  @include flag-icon(lesotho);
  @include flag-icon(lithuania);
  @include flag-icon(luxembourg);
  @include flag-icon(latvia);
  @include flag-icon(libya);
  @include flag-icon(morocco);
  @include flag-icon(monaco);
  @include flag-icon(moldova);
  @include flag-icon(montenegro);
  @include flag-icon(saint-martin);
  @include flag-icon(madagascar);
  @include flag-icon(marshall-islands);
  @include flag-icon(macedonia);
  @include flag-icon(mali);
  @include flag-icon(myanmar);
  @include flag-icon(mongolia);
  @include flag-icon(macau);
  @include flag-icon(northern-mariana-islands);
  @include flag-icon(martinique);
  @include flag-icon(mauritania);
  @include flag-icon(montserrat);
  @include flag-icon(malta);
  @include flag-icon(mauritius);
  @include flag-icon(maldives);
  @include flag-icon(malawi);
  @include flag-icon(mexico);
  @include flag-icon(malaysia);
  @include flag-icon(mozambique);
  @include flag-icon(namibia);
  @include flag-icon(new-caledonia);
  @include flag-icon(niger);
  @include flag-icon(norfolk-island);
  @include flag-icon(nigeria);
  @include flag-icon(nicaragua);
  @include flag-icon(netherlands);
  @include flag-icon(norway);
  @include flag-icon(nepal);
  @include flag-icon(nauru);
  @include flag-icon(niue);
  @include flag-icon(new-zealand);
  @include flag-icon(oman);
  @include flag-icon(panama);
  @include flag-icon(peru);
  @include flag-icon(french-polynesia);
  @include flag-icon(papua-new-guinea);
  @include flag-icon(philippines);
  @include flag-icon(pakistan);
  @include flag-icon(poland);
  @include flag-icon(saint-pierre-and-miquelon);
  @include flag-icon(pitcairn);
  @include flag-icon(puerto-rico);
  @include flag-icon(palestine);
  @include flag-icon(portugal);
  @include flag-icon(palau);
  @include flag-icon(paraguay);
  @include flag-icon(qatar);
  @include flag-icon(reunion);
  @include flag-icon(romania);
  @include flag-icon(serbia);
  @include flag-icon(russia);
  @include flag-icon(rwanda);
  @include flag-icon(saudi-arabia);
  @include flag-icon(solomon-islands);
  @include flag-icon(seychelles);
  @include flag-icon(sudan);
  @include flag-icon(sweden);
  @include flag-icon(singapore);
  @include flag-icon(saint-helena);
  @include flag-icon(slovenia);
  @include flag-icon(svalbard-and-jan-mayen);
  @include flag-icon(slovakia);
  @include flag-icon(sierra-leone);
  @include flag-icon(san-marino);
  @include flag-icon(senegal);
  @include flag-icon(somalia);
  @include flag-icon(suriname);
  @include flag-icon(south-sudan);
  @include flag-icon(sao-tome-and-principe);
  @include flag-icon(el-salvador);
  @include flag-icon(sint-maarten);
  @include flag-icon(syria);
  @include flag-icon(swaziland);
  @include flag-icon(turks-and-caicos-islands);
  @include flag-icon(chad);
  @include flag-icon(french-southern-territories);
  @include flag-icon(togo);
  @include flag-icon(thailand);
  @include flag-icon(tajikistan);
  @include flag-icon(tokelau);
  @include flag-icon(east-timor);
  @include flag-icon(turkmenistan);
  @include flag-icon(tunisia);
  @include flag-icon(tonga);
  @include flag-icon(turkey);
  @include flag-icon(trinidad-and-tobago);
  @include flag-icon(tuvalu);
  @include flag-icon(taiwan);
  @include flag-icon(tanzania);
  @include flag-icon(ukraine);
  @include flag-icon(uganda);
  @include flag-icon(united-states-minor-outlying-islands);
  @include flag-icon(united-states);
  @include flag-icon(uruguay);
  @include flag-icon(uzbekistan);
  @include flag-icon(vatican-city);
  @include flag-icon(saint-vincent-and-the-grenadines);
  @include flag-icon(venezuela);
  @include flag-icon(british-virgin-islands);
  @include flag-icon(us-virgin-islands);
  @include flag-icon(vietnam);
  @include flag-icon(vanuatu);
  @include flag-icon(wallis-and-futuna);
  @include flag-icon(samoa);
  @include flag-icon(yemen);
  @include flag-icon(mayotte);
  @include flag-icon(south-africa);
  @include flag-icon(zambia);
  @include flag-icon(zimbabwe);

  // Other flags
  @include flag-icon(catalonia);
  @include flag-icon(european-union);
  @include flag-icon(england);
  @include flag-icon(northern-ireland);
  @include flag-icon(scotland);
  @include flag-icon(wales);
  @include flag-icon(united-nations);
  @include flag-icon(kosovo);
}
